<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Кабинет пользователя</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<div th:insert="layouts/header :: header"></div>


<main class="container">

    <form method="post" action="/logout">
        <h1>Кабинет пользователя</h1>
        <button type="submit">Выйти</button>
    </form>
</main>



<div th:insert="layouts/footer :: footer"></div>

</body>
</html>